In [1]:
# imports
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import LabelEncoder

In [2]:
# read both files
train=pd.read_csv('training.csv')
test=pd.read_csv('test.csv')

In [3]:
# saving target variables
y=train['SellingPrice']
test_pred=test['SellingPrice']

In [4]:
# joining train n test sets for easier preprocessing
joined_data=train.append(test)

In [5]:
# dropping irrelevant columns
joined_data=joined_data.drop(['Unnamed: 0','SellingPrice'],axis=1)

In [6]:
# separating train n test sets
train=joined_data[0:train.shape[0]]
test=joined_data[train.shape[0]:]

In [7]:
# columns within dataset
train.columns

Index(['Kilometeres', 'Fuel_Type', 'Doors', 'Automatic', 'HorsePower',
       'MetallicCol', 'CC', 'Wt', 'Age'],
      dtype='object')

In [8]:
# Doesn't look like the data has any anomalies
train.describe()

,Kilometeres,Doors,Automatic,HorsePower,MetallicCol,CC,Wt,Age
count,958.000000,958.000000,958.000000,958.000000,958.000000,958.000000,958.000000,958.000000
mean,69067.598121,4.009395,0.056367,101.549061,0.669102,1566.651357,1072.701461,56.463466
std,37082.673742,0.955059,0.230750,14.556315,0.470782,184.850459,55.235835,18.332019
min,1.000000,2.000000,0.000000,69.000000,0.000000,1300.000000,1000.000000,1.000000
25%,43472.000000,3.000000,0.000000,90.000000,0.000000,1400.000000,1040.000000,44.000000
50%,63547.000000,4.000000,0.000000,110.000000,1.000000,1600.000000,1065.000000,61.000000
75%,87580.000000,5.000000,0.000000,110.000000,1.000000,1600.000000,1085.000000,70.000000
max,243000.000000,5.000000,1.000000,192.000000,1.000000,2000.000000,1615.000000,80.000000

In [9]:
# No missing values, thi is good as the dataset is already quite small
print("Number of missing values",train.isnull().sum())

Number of missing values Kilometeres    0
Fuel_Type      0
Doors          0
Automatic      0
HorsePower     0
MetallicCol    0
CC             0
Wt             0
Age            0
dtype: int64

In [10]:
# Target variable appears to be skewed
print(y.skew())

1.9049268513861988

In [11]:
# encode fuel type so that it can be fed to an ML Model
lb=LabelEncoder()
train['Fuel_Type']=lb.fit_transform(train['Fuel_Type'])
test['Fuel_Type']=lb.transform(test['Fuel_Type'])

In [12]:
# saving prepped files and labels to disk
test.to_csv('prepped_test.csv',index=False)
train.to_csv('prepped_train.csv',index=False)
y.to_frame().to_csv('target.csv',index=False)
test_pred.to_frame().to_csv('target_test.csv',index=False)